<template>
  <div class="py-1">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {},
  props: {},
})
export default class Hook0DropdownMenuItems extends Vue {}
</script>

<style lang="scss" scoped></style>
