<template>
  <hook0-card>
    <hook0-card-header>
      <template #header> Hook0 API Documentation </template>
      <template #subtitle> Automate everything! </template>
    </hook0-card-header>
    <hook0-card-content>
      <div ref="container">
        <!-- swagger ui documentation -->
      </div>
    </hook0-card-content>
    <hook0-card-footer> </hook0-card-footer>
  </hook0-card>
</template>

<script lang="ts">
import SwaggerUI from 'swagger-ui';
import 'swagger-ui/dist/swagger-ui.css';

import { Options, Vue } from 'vue-class-component';
import Hook0Card from '@/components/Hook0Card.vue';
import Hook0CardHeader from '@/components/Hook0CardHeader.vue';
import Hook0CardFooter from '@/components/Hook0CardFooter.vue';
import Hook0CardContent from '@/components/Hook0CardContent.vue';
import Hook0CardContentLine from '@/components/Hook0CardContentLine.vue';
import featureFlags from '@/feature-flags';
import iam from '@/iam';

@Options({
  components: {
    Hook0CardContentLine,
    Hook0CardContent,
    Hook0CardFooter,
    Hook0CardHeader,
    Hook0Card,
  },
})
export default class ApiDocumentation extends Vue {
  private swaggerUI!: SwaggerUI;

  declare $refs: {
    container: HTMLDivElement;
  };

  data() {
    return {};
  }

  _load() {
    const application_id = this.$route.params.application_id;
    const organization_id = this.$route.params.organization_id;

    this.swaggerUI = SwaggerUI({
      url:
        featureFlags.getOrElse('API_ENDPOINT', process.env.VUE_APP_API_ENDPOINT) + '/swagger.json',
      domNode: this.$refs.container,

      docExpansion: 'list',

      showExtensions: true,
      showCommonExtensions: true,

      // if set to true, it triggers infinite redirect loop with keycloak
      deepLinking: false,

      tagsSorter: (tag1, tag2) => {
        const order = [
          'Hook0',
          'Organizations Management',
          'Applications Management',
          'Events Management',
          'Subscriptions Management',
        ];
        return order.indexOf(tag1) - order.indexOf(tag2);
      },

      operationsSorter: 'alpha',

      displayOperationId: true,

      parameterMacro: (operation: Readonly<any>, parameter: Readonly<any>) => {
        if (organization_id && parameter.name === 'organization_id') {
          // eslint-disable-next-line
          parameter.schema.default = organization_id;
        }

        if (application_id && parameter.name === 'application_id') {
          // eslint-disable-next-line
          parameter.schema.default = application_id;
        }
      },

      requestInterceptor: (req: SwaggerUI.Request) => {
        return iam.getToken().then((jwt_token) => {
          // eslint-disable-next-line
          req.headers.Authorization = `Bearer ${jwt_token}`;
          return req;
        });
      },

      // try out
      displayRequestDuration: true,
      tryItOutEnabled: true,
      // \try out

      syntaxHighlight: {
        activate: true,
      },

      onComplete: () => {
        console.log('Swagger UI launched');
      },
    });
  }

  updated() {
    this._load();
  }

  mounted() {
    this._load();
  }
}
</script>

<style scoped>
</style>
